.search-form {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  overflow: hidden;
  margin: var(--size-4) 0 var(--size-4) 0;
}
.search-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--size-3-5);
    border-bottom: 2px solid var(--secondary-color);
    padding: var(--size-1);
  }
  
  .search-icon {
    width: var(--size-2-5);
    height: var(--size-2-5);
    margin-right: var(--size-1);
  }
  
  .search-input {
    border: none;
    outline: none;
    flex: 1;
    font-size: var(--size-2);
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
  }
  
  .search-input::placeholder {
    color: var(--text-color-gray); 
    opacity: 1; 
  }

  .search-result {
    text-transform: uppercase;
  }