@import './styles/colors.css';
@import './styles/sizes.css';
@import './styles/fonts.css';

body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

.global-container {
  padding: var(--size-4) var(--size-8);
}
